.message-container {
  padding: 10px;
  margin: 5px;
  border-radius: 25px;
  width: 60%;
  text-align: left;

}

.outgoing {
  background: #C6C8EE;
  color: #341E20;
}

.incoming {
  background: #344055;
  color: #FCFCFF;
}

.message-container li{
  list-style-type: none;
}
